.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 12px 24px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: background 0.3s ease, box-shadow 0.3s ease;
  color: #f0d420;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.topRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}
.scrolled {
  background: #fff; /* turn white on scroll */
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  color: #333; /* darker text on white bg */
}

/* .logoImage {
  height: 50px;
  width: auto;
} */

.icons {
  display: flex;
  gap: 16px;
  align-items: center;
}

.icon {
  font-size: 1.4rem;
  color: #c4c252; /* darker when white bg */
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}
.icon:hover {
  transform: scale(1.1);
  color: #ffcc00;
}

.searchBox input {
  width: 100%;
  max-width: 300px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 25px;
  outline: none;
  font-size: 0.9rem;
}

.tabs {
  display: flex;
  gap: 12px;
  margin: 0 20px;
}

.tabButton {
  background: transparent;
  border: none;
  font-size: 0.95rem;
  font-weight: 600;
  cursor: pointer;
  color: #c4c252;
  padding: 6px 12px;
  transition: color 0.2s, border-bottom 0.2s;
}

.tabButton:hover {
  color: #ffcc00;
}

.active {
  color: #ffcc00;
  border-bottom: 2px solid #ffcc00;
}
.logoText {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ffcc00;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}